.nav-container{
    text-decoration: none;
    margin: 10px;
    color: antiquewhite;
  }
  
  .nav-design{
    background: linear-gradient(104.61deg, #FF00B8 2.65%, #FF655B 51.83%, #151371 100%);
  }