.progress-header-container{
    height: 400px;
}
.progress-container{
    background-color: #151371;
    padding: 50px;
    height: 650px;
}
.progress-head-period{
    color: white;
    text-align: left;
    margin: 30px;
}
.tutorial-link{
text-decoration: none;
}